/* Initialisation*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/jour.jpg);
    /*background-color: #dddddd;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

body.dark{
    background-image: url(../img/nuit.jpg);
    /*background-color: #222222;*/
}

.binaire{
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}

html{
    font-family: 'Ubuntu', sans-serif;
}

/*Réutilisables*/
.row{
    width: 80%;
    margin: auto;
}

/*Titres*/
h1,
h2,
h3,
p,
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/*Header*/
header{
    height: 5vw;
}

nav{
    height: 80px;
    width: 100%;
    background: #111533;
    position: fixed;
    z-index: 2;
}

label.logo{
    font-size: 35px;
    padding: 0 100px;
    line-height: 80px;
    color: #ffffff;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a,
nav li label{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    text-decoration: none;
}

header a:hover{
    border-bottom: 1px solid #00ffff;
    transition: .5s;
}

nav #icon{
    color: #ffffff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*Main*/
.temps{
    font-family: 'Orbitron', sans-serif;
    color: #008b8b90;
    text-align: center;
    margin-top: 20%;
    z-index: 1;
}

#date{
    font-size: 500%;
    position: relative;
    margin-left: 50%;
    margin-top: 2%;
    transform: translate(-50%);
}
  
#heure_exacte{
    font-size: 500%;
    position: relative;
    margin-left: 50%;
    margin-top: 2%;
    transform: translate(-50%);
}

.box{
    width: 80%;
    border: 2px solid #ffffff;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    text-align: center;
    border-radius: 50px;
}

.light{
    background-color: #555555;
}

.dark{
    background-color: #222222;
}

h2{
    border-bottom: 1px solid #00ffff;
    padding-bottom: 5px;
}

h3{
    padding-top: 10px;
}

p,
a{
    padding-top: 10px;
}

/*Modal*/
.show-modal-1{
    cursor: pointer;
}

.show-modal-2{
    cursor: pointer;
}

.show-modal-3{
    cursor: pointer;
}

.show-modal-4{
    cursor: pointer;
}
  
.close-modal-1{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.close-modal-2{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.close-modal-3{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.close-modal-4{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden{
    display: none;
}
  
.modal-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/*Footer*/
footer{
    background-color: #111533;
    height: 5vw;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.social{
    float: left;
    margin-top: 35px;
    margin-left: 40px;
}

.copy{
    float: right;
    margin-top: 35px;
    margin-right: 40px;
}

.social i{
    font-size: 200%;
}

.ion-social-facebook{
    padding-right: 40px;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-instagram:hover{
    color: #7232bd;
}