/* Initialisation*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark{
    background-color: #000000;
}

html{
    font-family: 'Ubuntu', sans-serif;
}

/*Réutilisables*/
.row{
    width: 80%;
    margin: auto;
}

/*Titres*/
h1,
h2,
h3,
p,
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/*Header*/
header{
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav{
    height: 80px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 1;
}

label.logo img{
    width: 70px;
    padding-top: 5px;
    border-radius: 50%;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a,
nav li label{
    color: #999999;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
li label:hover{
    border-bottom: 1px solid #00ffff;
    transition: .5s;
}

label a:hover{
    border: none;
}

input{
    display: none;
}

nav #icon{
    color: #999999;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.name{
    color: #ffffff;
    font-size: 50px;
    padding-top: 40vh;
    padding-left: 2rem;
}

.name p{
    text-transform: none;
}

/*Main*/
.temps{
    font-family: 'Orbitron', sans-serif;
    color: #00ffff90;
    text-align: center;
    float: left;
    margin-top: 15px;
    margin-left: 140px;
}

#date{
    font-size: 150%;
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
}
  
#heure_exacte{
    font-size: 150%;
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
}

.box{
    width: 80%;
    border: 2px solid #ffffff;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    text-align: center;
    border-radius: 50px;
}

.light{
    background-color: #555555;
}

.dark{
    background-color: #222222;
}

h2{
    border-bottom: 1px solid #00ffff;
    padding-bottom: 5px;
}

h3{
    padding-top: 10px;
}

p,
a{
    padding-top: 10px;
}

/*Footer*/
footer{
    background-color: #000033;
    height: 100px;
    margin-top: 40px;
}

.social{
    float: left;
    margin-top: 35px;
    margin-left: 40px;
}

#copy{
    color: #ffffff;
    float: right;
    margin-top: 35px;
    margin-right: 40px;
    text-transform: uppercase;
}

.social i{
    font-size: 200%;
}

.ion-social-facebook{
    padding-right: 40px;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-instagram:hover{
    color: #7232bd;
}