/* Initialisation*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark{
    background-color: #000000;
}
.dark:hover{
    transition: .5s;
}
html{
    font-family: 'Ubuntu', sans-serif;
}
/*Réutilisables*/
.row{
    width: 80%;
    margin: auto;
}
/*Titres*/
h1,
h2,
h3,
p,
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
/*Header*/
header{
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
nav{
    height: 80px;
    width: 100%;
    background-color: #000033;
    position: fixed;
    z-index: 1;
}
label.logo img{
    width: 70px;
    padding-top: 5px;
    border-radius: 50%;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
}
nav a,
nav li label{
    color: #dddddd;
    font-size: 18px;
    padding: 7px 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    border-bottom: 1px solid #00ffff;
    transition: .5s;
}
label a:hover,
.social a:hover{
    border: none;
}
.check{
    display: none;
}
nav #icon{
    color: #dddddd;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.name{
    color: #ffffff;
    font-size: 50px;
    padding-top: 40vh;
    padding-left: 2rem;
}
.name p{
    text-transform: none;
}
#moon{
    font-size: 5rem;
    position: absolute;
}
#moon:hover{
    color: #ffff00;
    transition: .5s;
}
/*Main*/
.temps{
    font-family: 'Orbitron', sans-serif;
    color: #00ffff90;
    text-align: center;
    float: left;
    margin-top: 15px;
    margin-left: 140px;
    width: 400px;
}
#date{
    font-size: 150%;
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
}
#heure_exacte{
    font-size: 150%;
    position: relative;
    margin-left: 2%;
    margin-top: 2%;
}
.box{
    width: 100%;
    margin: auto;
    padding: 5%;
    text-align: center;
}
.light{
    background-color: #555555;
}
.dark{
    background-color: #222222;
}
h2{
    border-bottom: 1px solid #00ffff;
    padding-bottom: 5px;
}
h3{
    padding-top: 10px;
}
p,
a{
    padding-top: 10px;
}
input, select, textarea{
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #008b8b;
    margin-top: 5px;
    margin-bottom: 5px;
}
.submit{
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    background-color: #008b8b;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
}
.submit:hover{
    background-color: #ffffff;
    color: #008b8b;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translate(-50%);
}
#ok{
    display: none;
    border-radius: 20px;
    border: solid 2px #1e8449;
    background-color: #a9dfbf;
    padding: 20px;
    color: #999999;
}
/*Footer*/
footer{
    background-color: #000033;
    height: 100px;
}
.social{
    float: left;
    margin-top: 35px;
    margin-left: 40px;
}
#copy{
    color: #ffffff;
    float: right;
    margin-top: 35px;
    margin-right: 40px;
    text-transform: uppercase;
}
.social i{
    font-size: 200%;
}
.ion-social-linkedin{
    padding-right: 20px;
}
.ion-social-facebook{
    padding-left: 20px;
    padding-right: 20px;
}
.ion-social-instagram{
	padding-left: 20px;
}
.ion-social-linkedin:hover{
    color: #0077b5;
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-instagram:hover{
    color: #7232bd;
}
